{% extends 'base.html' %}
{% block content %}
    <!-- About page using tailwindcss -->
    <!-- The about page is a simple page that describes the purpose of the website and the team behind it. -->
    <!-- The team is just me, Rae Noble (She/They). -->
    <!-- The about page will also have a link to the GitHub repository for the project. -->
    <!-- The project uses flask and tailwindcss. All the code is written in Python and HTML. It is written for a college project -->
    <!-- The website is a book store called Shelfworm that allows users to search for and buy books. -->
    <div class="container mx-auto">
        <div class="flex flex-col items-center justify-center">
            <h1 class="text-4xl font-bold text-center">About</h1>
            <p class="text-center">This website is a book store that allows users to search for and buy books. It is written in Python using the Flask framework. The front end is written in HTML and uses tailwindcss for styling. The website is a college project written by Rae Noble, the sole developer of the project.</p>
            <p class="text-center">The website is hosted on Heroku and the code is available on GitHub <a href="https://github.com/ElapidaeRae/Shelfworm">here</a>. The website will use the Stripe API for payment processing.</p>
            <p class="text-center">The website is called Shelfworm, a play on the word bookworm. The website is designed to be simple and easy to use. The website is designed to be responsive and work on all devices. The website is designed to be accessible and easy to use for all users.</p>
            <p class="text-center">The website is a work in progress and is not yet fully functional. The website is a college project and is not intended for commercial use. The website is a prototype and is not intended to be used for real transactions. Perhaps after a rewrite in a more suitable language and framework, like Django, React or Svelte, the website could be used for real transactions.</p>
        </div>
    </div>
    <!-- Bio section -->
    <div class="container mx-auto">
        <div class="flex flex-col items-center justify-center">
            <h2 class="text-2xl font-bold text-center">Rae Noble</h2>
    <p class="text-center">Rae Noble is a student at Kimberley College Sixth Form studying Computer Science, Mathematics and Physics. She is a (mostly) self-taught programmer and has been programming since she figured out how to install python. This is their first time using Flask and tailwindcss for a project. This is also her first exposure to javascript and the Stripe API.</p>
    <p class="text-center">She is a trans girl fulfilling the stereotype of being a programmer. They are an avid enjoyer of storytelling in all forms, including games, shows, and books. She plays a lot of video games, mostly Warframe and Minecraft, however they also enjoy playing games like Celeste and Hollow Knight.

{% endblock %}
