<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/images/ShelfwormLogo.svg">
    <title>Shelfworm</title>
</head>
<script>
    function dropdown() {
        document.getElementById("ProfileDropdownContent").classList.toggle("show");
    }
    window.onclick = function(event) {
        if (!event.target.matches('.relative')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
<script src="../static/js/darkmode.js"></script>
<!-- If dark mode is enabled, add the dark class to the body -->
<body class="flex flex-col min-h-screen">
    <!-- Header -->
    <header class="bg-background-light dark:bg-background-dark flex-none">
        <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
            <!-- The navigation bar at the top of the screen with a logo -->
            <nav class="flex justify-between h-20">
                <a href="/" class="flex items-center">
                    <img src="../static/images/ShelfwormLogo.svg" alt="Shelfworm" class="h-20">
                </a>
                <div class="flex space-x-4 items-center">

                    <!-- Navigation links -->
                    <a href="/search" class="text-sm font-medium text-text dark:text-text-dark hover:text-gray-800 dark:hover:text-gray-200">Shop</a>
                    <a href="/cart" class="text-sm font-medium text-text dark:text-text-dark hover:text-gray-800 dark:hover:text-gray-200">Cart</a>
                    {% if not current_user.is_authenticated %}
                        <a href="/login" class="text-sm font-medium text-text dark:text-text-dark hover:text-gray-800 dark:hover:text-gray-200">Login</a>
                        <a href="/register" class="text-sm font-medium text-text dark:text-text-dark hover:text-gray-800 dark:hover:text-gray-200">Register</a>
                    {% elif current_user.is_authenticated %}

                    <!-- Profile Dropdown menu -->
                    <!-- Should show as a circle with the user's name next to it until clicked for now -->
                    <div class="relative px-4" onclick="dropdown()">
                        <div class="flex items-start">
                            <div class="h-8 w-8 bg-background dark:bg-background-dark rounded-full flex items-center justify-center">
                                <p class="text-sm font-medium text-text dark:text-text-dark hover:text-primary">{{ current_user.id }}</p>
                            </div>
                        </div>
                        <div id="ProfileDropdownContent" class="hidden absolute right-0 mt-2 w-48 bg-primary dark:bg-accent rounded-md shadow-lg z-10">
                            <a href="/profile" class="block px-4 py-2 text-sm text-text dark:text-text-dark hover:bg-primary">Profile</a>
                            <a href="/logout" class="block px-4 py-2 text-sm text-text dark:text-text-dark hover:bg-primary">Logout</a>
                        </div>
                    </div>
                    {% endif %}

                    <!-- Dark mode toggle switch that calls toggleDarkMode() -->
                    <label class="inline-flex items-center cursor-pointer" for="darkmode">
                        {% if session.darkmode %}
                            <input type="checkbox" value="" class="sr-only peer" id="darkmode" onclick="toggleDarkMode()" checked>
                        {% else %}
                            <input type="checkbox" value="" class="sr-only peer" id="darkmode" onclick="toggleDarkMode()">
                        {% endif %}
                        <div class="relative w-11 h-6 bg-accent peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-accent dark:peer-focus:ring-primary rounded-full peer dark:bg-background-dark peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-background after:border-accent after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-primary peer-checked:bg-accent"></div>
                    </label>


{#                    <label class="inline-flex items-center cursor-pointer" for="darkmode">#}
{#                      <input type="checkbox" value="" class="sr-only peer" id="darkmode" onclick="toggleDarkMode()">#}
{#                      <div class="relative w-11 h-6 bg-accent peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-accent dark:peer-focus:ring-primary rounded-full peer dark:bg-background-dark peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-background after:border-accent after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-primary peer-checked:bg-accent"></div>#}
{#                      <span class="ms-3 text-sm font-medium text-text dark:text-text-dark">Dark Mode</span>#}
{#                    </label>#}

                </div>
            </nav>
        </div>
    </header>
    <main class="grow dark:bg-background-dark">
        {% block content %}{% endblock %}
    </main>
    <!-- Footer -->
    <footer class="bg-background dark:bg-background-dark flex-none">
        <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
            <div class="flex justify-between">
                <div>
                    <a href="#" class="text-sm font-medium text-text dark:text-text-dark hover:text-primary">
                        Privacy Policy
                    </a>
                    <a href="#" class="ml-4 text-sm font-medium text-text dark:text-text-dark hover:text-primary">
                        Terms of Service
                    </a>
                </div>
                <div>
                    <a href="mailto:bharris@wootton.beds.sch.uk" class="text-sm font-medium text-text dark:text-text-dark hover:text-primary">
                        Contact Us
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>