<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <href rel="stylesheet" href="style.css">
    <title>Shelfworm</title>
</head>
<body>
    <header class="bg-beige dark:bg-gray-800">
        <nav class="mx-auto flex max-w-5x1 justify-between items-center p-4 lg:px-8" aria-label="Global">
            <div class="flex lg:flex-1">
                <a href="#" class="-ml-3">
                    <img src="static/ShelfwormLogo.svg" alt="Shelfworm" class="h-8 w-auto">
                </a>
            </div>
            <div class="lg:"
            </nav>
        </div>
    </header>


</body>
</html>