{% extends 'base.html' %}

{% block content %}
    <!-- Page Content for the Login Page -->
    <div class="flex justify-center items-center">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5 dark:text-text-dark">Login</h1>

            <form action="/login" method="post">
                {{ form.csrf_token }}
                <!-- TODO: Rewrite the form styling to better align with the design of the registration form -->

                <div class="mt-5 mb-5 w-50 mx-auto">
                    {{ form.username.label(class='block text-sm font-medium text-text dark:text-text-dark') }}
                    {{ form.username(class='form-control rounded-md shadow-lg ring-1 ring-accent') }}
                    {% if form.username.errors %}
                        <p class="text-red-500">{{ form.username.errors|join(', ') }}</p>
                    {% endif %}
                </div>

                <div class="mb-5 w-50 mx-auto">
                    {{ form.password.label(class='block text-sm font-medium text-text dark:text-text-dark') }}
                    {{ form.password(class='form-control rounded-md shadow-lg ring-1 ring-accent') }}
                    {% if form.password.errors %}
                        <p class="text-red-500">{{ form.password.errors|join(', ') }}</p>
                    {% endif %}
                </div>

                <div class="mb-5 w-50 mx-auto ">
                    {{ form.remember(class='rounded-md shadow-lg ring-1 ring-accent') }}
                    {{ form.remember.label(class='block text-sm font-medium text-text dark:text-text-dark') }}
                </div>


                <button type="submit" class="btn btn-primary inline-block rounded-md py-3 px-4 bg-background dark:bg-background-dark text-base text-text dark:text-text-dark hover:bg-accent">Login</button>
            </form>

            <p class="mt-5 dark:text-text-dark">
                Don't have an account? <a href="/register" class="text-accent">Register</a>
            </p>
        </div>
    </div>
{% endblock %}