{% extends 'base.html' %}
{% block content %}
    <!-- Search Page -->
    <!-- The search results are displayed dynamically in the page with javascript -->
    <div class="flex align-center justify-center">
        <div class="search-container p-4">
            <div class="rounded-md bg-background p-4 ring-1 ring-accent ring-opacity-20 shadow-lg w-full">
                <label for="search" class="text-2xl font-bold text-accent">Search</label>
                <input type="text" id="search" class="w-full mt-4 p-2 rounded-md bg-background border-2 border-accent focus:outline-none focus:border-primary" placeholder="Search for a movie...">
                <div id="search-results" class="mt-4">
                    <div class="flex justify-center">
                        <p class="text-accent">No results found</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="../static/js/search.js"></script>
{% endblock %}