{% extends 'base.html' %}
{% block content %}
    <!-- Search Page for books -->
    <!-- The search results are displayed dynamically in the page with javascript in the div with id 'display' -->
    <!-- Styling is done with tailwindcss -->
    <!-- The search interface should be similar to the one amazon has with the search bar and filters below it to the left -->
    <!-- The search results should be displayed to the right of the search bar and filters -->
    <div class="flex flex-row justify-center">
        <div class="flex flex-col w-1/4">
            <h1 class="text-2xl font-bold text-text dark:text-text-dark">Search for books</h1>
            <input type="text" id="search" class="border-2 border-accent p-2 mt-2" placeholder="Search for books">
            <div class="mt-2">

                <h2 class="text-lg font-bold text-text dark:text-text-dark">Filter by</h2>
                <div class="mt-2">
                    <label for="author" class="text-text dark:text-text-dark">Author</label>
                    <input type="text" id="author" class="border-2 border-accent p-2 w-full">
                </div>

                <div class="mt-2">
                    <label for="genre" class="text-text dark:text-text-dark">Genre</label>
                    <input type="text" id="genre" class="border-2 border-accent p-2 w-full">
                </div>

                <!-- Price filter should be a range slider with an upper and lower bound -->
                <!-- TODO: Add a range slider for the price filter -->
                <div class="mt-2">
                    <label for="price" class="text-text dark:text-text-dark">Price</label>
                    <input type="number" id="price-min" class="border-2 border-accent p-2 w-full" placeholder="Min">
                    <input type="number" id="price-max" class="border-2 border-accent p-2 w-full" placeholder="Max">

                    <input type="range" id="price" class="border-2 border-accent p-2 w-full" min="0" max="100" step="1">
                </div>

                <div class="mt-2">
                    <label for="year" class="text-text dark:text-text-dark">Year of release</label>
                    <input type="number" id="year" class="border-2 border-accent p-2 w-full">
                </div>

            </div>
        </div>

        <table class="w-1/2 border-2 border-accent p-2 m-2">
            <thead class="sticky top-0 h-8">
                <tr>
                    <th class="text-text dark:text-text-dark">Title</th>
                    <th class="text-text dark:text-text-dark">Author</th>
                    <th class="text-text dark:text-text-dark">Genre</th>
                    <th class="text-text dark:text-text-dark">Year of release</th>
                    <th class="text-text dark:text-text-dark">Price</th>
                </tr>
            </thead>
            <tbody id="display">
                <!-- The search results will be displayed here -->
            </tbody>
        </table>
    </div>
<script src="../static/js/search.js"></script>
{% endblock %}